@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-family: "Inter", sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.container-message {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 12px;
}

.container-message button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 10;
	font-size: large;
	font-weight: 600;
	color: #fff;
}

.default {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: block;
}

.sphere {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: none;
}
.box {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: none;
}
.torus {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: none;
}
.torusknot {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: none;
}
.cone {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
	display: none;
}
